<template lang="pug">
NuxtLayout(name="admin")
  div(v-if="isLoading") Loading...
  div(v-else-if="user")
    .admin-page-container
     TheSidebar
     MenuTable
</template>

<script setup lang="ts">
import TheSidebar from "~/components/admin/TheSidebar.vue";
import MenuTable from "~/components/admin/MenuTable.vue";
import {useAuth} from "~/composables/firebase/useAuth";

definePageMeta({
  middleware: 'auth',
});

const { user, isLoading, initializeAuth, cleanupAuth, signOut } = useAuth();

onMounted(() => {
  initializeAuth();
});

onUnmounted(() => {
  cleanupAuth();
});
</script>

<style scoped lang="scss">
.admin-page-container {
  display: flex;
}
</style>