<template  lang="pug">
.feature-item
  img(:src="feature.icon")
  p.title {{feature.title}}
</template>

<script setup lang="ts">
const props = defineProps({
  feature: {
    type: Object,
    required: true,
  }
})
</script>

<style scoped lang="scss">
.feature-item {
  background: linear-gradient(111.49deg, rgba(255, 255, 255, 0.4) -8.95%, rgba(255, 255, 255, 0.01) 114%);
  border: 2px solid white;
  border-radius: 24px;
  padding: 36px 25px 10px;
  .title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: $dark-color;
    margin-top: 8px;
  }
}
</style>
