<template lang="pug">
.ingredient-item
  p.name {{ingredient.name}}
  p.description {{ingredient.description}}
</template>

<script setup lang="ts">
const props = defineProps({
  ingredient: {
    type: Object,
    required: true,
  }
})
</script>

<style scoped lang="scss">
.ingredient-item {
  font-family: $main-font;
  font-style: normal;
  color: $dark-color;
  .name {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
  }
  .description {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 136%;
  }
}
</style>
