<template lang="pug">
.about-us-container(id="About us")
  .info
    p.title About our confectionery
    p.description {{description}}
    p.description The menu, the interior of the pastry shop, and the staff - all this is created for relaxation and vivid impressions.
    p.description Anna
  .photo
</template>

<script setup lang="ts">
const description = 'I love to cook and give joy and attention to loved ones. My hobby has turned into ' +
    'a business that brings me a lot of satisfaction and profit. We experiment with different fillings ' +
    'to create perfect combinations, exquisite tastes and aesthetic forms. Guests can try natural, airy ' +
    'desserts and have fun. '
</script>

<style scoped lang="scss">
.about-us-container {
  margin: 120px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 55px;
  .info {
    .title {
      margin: 35px 0 25px;
    }
    .description {
      margin-bottom: 35px;
    }
  }
  .photo {
    background-image: url("../assets/images/Anna.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 85%;
  }
}
</style>
