<template lang="pug">
.contacts-container
  .info
    p.title Contacts
    .phones
      a.viber(href="viber://chat?number=%2B380663339474" target="_blank") (066) 333 94 74
      a.telegram(href="telegram://chat?number=%2B380688473495" target="_blank") (068) 847 34 95
      a.whats-app(href="https://api.whatsapp.com/send?phone=380993479264" target="_blank") (099) 347 92 64
    p.address Kyiv, st. Shevchenko, 24
    .work-schedule
      p.headline Work schedule:
      .days
        span.name-days Mon-Fri:
        span.times from 9:00 a.m. to 8:00 p.m
      .days
        span.name-days Sat:
        span.times from 9:00 a.m. to 7:00 p.m
      .days
        span.name-days Sun:
        span.times Closed
  .map
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
.contacts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 75px auto 0;
  padding-bottom: 100px;
  .info {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: $dark-color;
    .title {
      font-family: $main-font;
      font-weight: 700;
      font-size: 35px;
    }
    .phones {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: $dark-color;
        text-decoration: none;
        position: relative;
        margin-left: 38px;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        &::before {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          top: 6px;
          left: -36px;
        }
        &.viber::before {
          background: url("../assets/images/contacts/viber-icon.svg") 50% no-repeat;
        }
        &.telegram::before {
          background: url("../assets/images/contacts/telegram-icon.svg") 50% no-repeat;
        }
        &.whats-app::before {
          background: url("../assets/images/contacts/WhatsApp-icon.svg") 50% no-repeat;
        }
      }
    }
    .address {
      margin: 50px 0 0 33px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 32px;
        top: 0;
        left: -31px;
        background: url("../assets/images/contacts/icon-location.svg") 50% no-repeat;
      }
    }
    .work-schedule {
      margin-top: 65px;
      .headline {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        margin-bottom: 17px;
      }
      .days {
        &:not(:last-of-type) {
          margin-bottom: 8px;
        }
        .name-days {
          font-weight: 700;
          margin-right: 5px;
        }
      }
    }
  }
  .map {
    grid-column: 2 / 4;
    background: url("../assets/images/contacts/Map.png") no-repeat;
    background-size: cover;
    border-radius: 25px;
    outline-offset: 16px;
    outline: 2px solid $white-color;
  }
}
</style>
