<template lang="pug">
footer
  .footer-container
    .logo-white
    .info
      .nav
        a.nav-item(v-for="item in navigation" :key="item" :href="`#${item}`") {{item}}
      p.copyright All rights reserved © 2023. Ginger konditori. UI/UX Design - Natalia Godun
</template>

<script setup lang="ts">
const navigation = ['Menu', 'Gallery', 'About us']
</script>

<style scoped lang="scss">
footer {
  background-color: $main-color-dark;
  .footer-container {
    display: grid;
    grid-template-columns: 155px 1fr 155px;
    max-width: 1156px;
    margin: 0 auto;
    padding: 25px 0 28px 0;
    .logo-white {
      background-image: url("assets/images/Logo-white.svg");
      width: 155px;
      height: 69px;
    }
    .info {
      text-align: center;
      color: $white-color;
      .nav {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        &-item {
          margin: 0 24px;
        }
        a {
          text-decoration: none;
          color: $white-color;
        }
      }
      .copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        margin-top: 16px;
      }
    }
  }
}

</style>
