<template lang="pug">
.gallery-container(id="Gallery")
  img.small-img(src="../assets/images/gallery/1.jpg")
  img.small-img(src="../assets/images/gallery/2.jpg")
  img.middle-img(src="../assets/images/gallery/3.jpg")
  img.big-img(src="../assets/images/gallery/4.jpg")
  .info
    p.title Gallery
    p.description You inspire us to create airy, tender zephyrs. Check out our desserts on Instagram
    button.btn.btn-icon-right Subscribe
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.gallery-container {
  display: grid;
  grid-template-columns: 1fr 445px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
  margin: 85px auto 0;
  img {
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
    &:first-of-type {
      align-self: flex-end;
    }
    &.big-img {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      align-self: flex-end;
    }
    &.middle-img {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      height: 100%;
    }
  }
  .info {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding-left: 24px;
    .description {
      margin: 8px 0 35px;
    }
  }
}
</style>
