<template lang="pug">
header
  nav
    a.nav-item(v-for="item in navigation" :key="item" :href="`#${item}`") {{item}}
    template(v-if="user")
      nuxt-link.nav-item(:to="RoutePaths.ADMIN") Admin page
      .nav-item(@click="handleSignOut") Sign out
    nuxt-link.nav-item(v-else :to="RoutePaths.SIGN_IN") Sign in
  .contacts
    p.address Kyiv, st. Shevchenko, 24
    p.phone-number 066 05 10 749
  .main
    .logo
    p.invite Try and choose your flavor of delicate zephyr on Instagram
    button.btn.btn-icon-right Subscribe
</template>

<script setup lang="ts">
import {useAuth} from "~/composables/firebase/useAuth";
import {RoutePaths} from "~/enums/RoutePaths";

const navigation = ['Menu', 'Gallery', 'About us']

const { user, signOut } = useAuth();
const router = useRouter();

const handleSignOut = async () => {
  await signOut();
  router.push(RoutePaths.SIGNIN);
};
</script>

<style scoped lang="scss">
header {
  padding-top: 40px;
  position: relative;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: $main-color-dark-second;
  margin: 0 auto;
  nav {
    display: flex;
    justify-content: center;
    a.nav-item {
      margin: 0 15px;
      text-decoration: none;
      color: $main-color-dark-second;
    }
  }
  .contacts {
    position: absolute;
    top: 40px;
    right: 0;
    text-align: right;
    .address {
      font-weight: 400;
    }
    .phone-number {
      margin-top: 5px;
    }
  }
  .main {
    .logo {
      background-image: url("assets/images/Logo-dark.svg");
      width: 297px;
      height: 133px;
      margin-top: 47px;
    }
    .invite {
      font-weight: 400;
      font-size: 28px;
      line-height: 120%;
      color: $dark-color;
      max-width: 314px;
      margin: 47px 0 35px;
    }
  }
}
</style>
