<template lang="pug">
.ingredients-container
  p.title Ingredients for zephyr
  .ingredient
    IngredientItem(v-for="ingredient in ingredients" :key="ingredient" :ingredient="ingredient")
  .media-block
    img(src="../assets/images/player.png")
    .features
      FeatureItem(v-for="feature in features" :key="feature.title" :feature="feature")
</template>

<script setup lang="ts">
const ingredients = [
  {
    name: 'Fruit, berry puree',
    description: 'Natural ingredients provide rich taste. Your loved ones will get the most out of the dessert',
  },
  {
    name: 'Agar - agar',
    description: 'This product is endowed with valuable vitamins - vitamins of group B, K, E and PP. Agar-agar enhances the taste of berries and fruits',
  },
  {
    name: 'Egg white',
    description: 'Egg white is rich in vitamins and minerals. It gives zephyr a delicate airy texture',
  },
  {
    name: 'Sugar',
    description: 'Our zephyrs have three times less sugar than store-bought zephyrs. As a result, zephyrs are cloyingly sweet, contain fewer calories, and are enjoyed by children',
  },
]
const features = [
  {
    icon: '_nuxt/assets/images/ingredients/1.svg',
    title: 'Only natural ingredients',
  },
  {
    icon: '_nuxt/assets/images/ingredients/3.svg',
    title: 'Modern technology',
  },
  {
    icon: '_nuxt/assets/images/ingredients/3.svg',
    title: 'Without preservatives',
  },
  {
    icon: '_nuxt/assets/images/ingredients/4.svg',
    title: 'Hygienic conditions',
  },
]
</script>

<style scoped lang="scss">
.ingredients-container {
  background-image: url("../assets/images/ingredients.png");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  margin: 110px auto 0;
  .title {
    font-family: $headline-font;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: $main-color-dark-second;
    text-align: center;
  }
  .ingredient {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: calc(100% - 330px - 330px);
    grid-row-gap: 56px;
    margin-top: 70px;
  }
  .media-block {
    margin-top: 211px;
    display: flex;
    justify-content: space-between;
    img {
      height: 392px;
      margin-right: 20px;
    }
    .features {
      display: grid;
      grid-template-columns: repeat(2, 184px);
      grid-template-rows: repeat(2, 184px);
      grid-gap: 24px;
    }
  }
}
</style>
