<template lang="pug">
.menu-container(id="Menu")
  ZephyrCard(v-for="card in menu" :key="card.id" :card="card")
</template>

<script setup lang="ts">
import { collection, getDocs, orderBy, query } from "firebase/firestore";
import useFirebaseFirestore from "~/composables/firebase/useFirebaseFirestore";
import type {MenuItemInterface} from "~/types/MenuItemInterface";

const menu = ref<MenuItemInterface[]>();

onMounted(() => {
  getMenu();
})

const {$firestore} = useFirebaseFirestore();

const getMenu = async () => {
  const q = query(collection($firestore, 'menu'), orderBy('createdAt'));
  const querySnapshot = await getDocs(q);
  menu.value = querySnapshot.docs.map((doc) => ({ id: doc.id, ...doc.data() })) as MenuItemInterface[];
}
</script>

<style scoped lang="scss">
.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 46px;
  margin: 105px auto 0;
}
</style>
