<template lang="pug">
.zephyr-card
  .img-background
    img(:src="card.image")
  p.name Zephyr
  p.name {{card.name}}
  p.description {{card.description}}
  .price-info
    p.price ₴{{card.price}}
    p.weight {{card.weight}} g / 1 pc
  button.btn.btn-icon-right Subscribe
</template>

<script setup lang="ts">
const props = defineProps({
  card: {
    type: Object,
    required: true,
  }
})
</script>

<style scoped lang="scss">
.zephyr-card {
    background-image: url("../assets/images/menu/Rectangle.png"), url("../assets/images/menu/Rectangle1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 24px 24px 30px;
  transition: all 0.1s;

  .img-background {
    background: url("../assets/images/menu/bg.svg") 50% no-repeat;
    margin-bottom: 14px;
    align-self: center;
    transition: all 0.1s;
    &:hover {
      transform: rotate(15deg);
      transition: all 0.2s;
      img {
        transform: scale(1.05) rotate(-15deg);
        transition: all 0.2s;
      }
    }
  }
  img {
    width: 254px;
    height: 228px;
    object-fit: cover;
    object-position: center;
    transform: translateX(15px);
    transition: all 0.1s;
    clip-path: polygon(29% 9%, 33% 8%, 39% 9%, 45% 10%, 49% 11%, 55% 13%, 60% 15%, 67% 18%, 73% 22%, 79% 26%, 84% 30%, 88% 34%, 93% 38%, 96% 43%, 98% 48%, 99% 53%, 100% 60%, 98% 66%, 96% 72%, 94% 76%, 91% 81%, 86% 85%, 81% 89%, 76% 92%, 71% 95%, 65% 97%, 51% 97%, 25% 97%, 18% 95%, 12% 93%, 6% 90%, 2% 86%, 0% 77%, 0% 70%, 1% 63%, 1% 57%, 2% 50%, 4% 42%, 6% 35%, 8% 29%, 12% 22%, 16% 17%, 20% 12%, 25% 9%);
  }
  .name {
    margin-left: 8px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    color: $dark-color;
    text-align: left;
  }
  .description {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #645F5F;
    margin: 6px 0 0 8px;
  }
  .price-info {
    width: 100%;
    margin: 20px 8px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: $main-font;
    font-style: normal;
    color: $dark-color;
    .price {
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
    }
    .weight {
      font-weight: 300;
      font-size: 20px;
      line-height: 140%;
    }
  }
  &:hover {
    box-shadow: 0 46px 40px -32px rgba(0, 0, 0, 0.25);
    transition: all 0.1s;
  }
}
</style>
