.btn {
  background: $main-button-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 32px;

  color: $white-color;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  padding: 12px 52px;
  cursor: pointer;

  transition: all 0.2s;
  &-icon-right {
    position: relative;
    padding: 10px 90px;
    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 13px;
      left: 65px;
      background: url("../images/button-icon.svg") 50% no-repeat;
    }
  }
  &-small {
    padding: 12px 24px;
  }
  &:hover {
    background: $hover-button-color;
    transition: all 0.2s;
  }
  &:focus {
    background: $focused-button-color;
    transition: all 0.2s;
  }
  &:active {
    background: $active-button-color;
    transition: all 0.2s;
  }
}
.btn-small.btn-icon-right {
  padding: 12px 24px 12px 56px;
  &::before {
    top: 14px;
    left: 30px;
  }
}
