.title {
  font-family: $headline-font;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: $main-color-dark-second;
}
.description {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: $dark-color;
}
