//COLOR
$main-color: #C05F83;
$main-color-light: #EA7879;
$main-color-light-second: #FFB3A7;
$main-color-light-third: #FFE6DC;
$main-color-dark: #8A5082;
$main-color-dark-second: #73366A;
$dark-color: #555267;
$white-color: #FFFCF9;

//BUTTONS
$main-button-color: #8A5082;
$hover-button-color: #C05F83;
$focused-button-color: #A14165;
$active-button-color: #73366A;
$click-button-color: #8A5082;

//FONTS
$main-font: 'Calibri';
$headline-font: 'Hadnich';
