<template lang="pug">
.admin-layout
  slot
</template>

<style lang="scss">
.admin-layout {
  background: linear-gradient(
          to bottom,
          $main-color-light-third,
          $main-color-light-second,
          $main-color
  );
  min-height: 100vh;
  font-family: $main-font;
  & > * {
    max-width: 1156px;
  }
}
</style>
