<template lang="pug">
.action-dropdown
  button.action-button(@click.stop="toggleDropdown")
    span.dropdown-icon
  .dropdown-content(v-if="showDropdown")
    button(
      v-for="action in actions"
      :key="action.value"
      :class="action.class"
      @click="handleAction(action.value, item.id)"
    ) {{ action.label }}
</template>

<script setup lang="ts">
import {MenuItemActionEnum} from "~/enums/MenuItemActionEnum";

defineProps<{
  item: {
    id: string;
  };
}>();

const showDropdown = ref(false);

const toggleDropdown = () => {
  showDropdown.value = !showDropdown.value;
};

const emit = defineEmits(['action']);

const actions = [
  { value: MenuItemActionEnum.VIEW, label: 'View', class: 'view-action' },
  { value: MenuItemActionEnum.EDIT, label: 'Edit', class: 'edit-action' },
  { value: MenuItemActionEnum.DELETE, label: 'Delete', class: 'delete-action' },
  { value: MenuItemActionEnum.OUT_OF_STOCK, label: 'Out of stock', class: 'status-action' },
];

const handleAction = (action: string, itemId: string) => {
  emit('action', { action, itemId });
  showDropdown.value = false;
};
</script>

<style scoped lang="scss">
.action-dropdown {
  position: relative;

  .action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 24px;
    color: $dark-color;
    .dropdown-icon::after {
      content: '⋮';
      display: block;
      font-size: 24px;
      color: $dark-color;
    }

    &:hover {
      color: $main-color-dark;
    }
  }

  .dropdown-content {
    display: block;
    position: absolute;
    right: 0;
    background-color: $white-color;
    min-width: 120px;
    box-shadow: 0 8px 16px rgba($dark-color, 0.2);
    z-index: 1;
    border-radius: 4px;
    border: 1px solid $main-color-light-third;

    button {
      display: block;
      width: 100%;
      padding: 8px 16px;
      text-align: left;
      background: none;
      border: none;
      cursor: pointer;
      font-family: $main-font;
      color: $dark-color;

      &:hover {
        background-color: $main-color-light-third;
      }

      &[view-action] { color: $main-color; }
      &[edit-action] { color: #4CAF50; }
      &[delete-action] { color: #F44336; }
      &[status-action] { color: #2196F3; }
    }
  }
}
</style>