<template lang="pug">
.table-header
  h2 Menu
  .actions
    input.search-input(type="text" placeholder="Search" v-model="searchValue")
    select.filter-select(v-model="filterValue")
      option(value="") Filter
      option(v-for="option in filterOptions" :key="option.value" :value="option.value") {{ option.label }}
    button.add-button(@click="$emit('addFood', true)") Add Food
    button.export-button
      | Export
      span.export-icon
</template>

<script setup lang="ts">
import {MenuItemStatusEnum} from "~/enums/MenuItemStatusEnum";

const props = defineProps<{
  searchQuery: string;
  filterStatus: string;
}>();

const searchValue = ref(props.searchQuery);
const filterValue = ref(props.filterStatus);
defineEmits(['update:searchQuery', 'update:filterStatus']);

const filterOptions = [
  { value: MenuItemStatusEnum.IN_STOCK, label: 'In stock' },
  { value: MenuItemStatusEnum.OUT_OF_STOCK, label: 'Out of stock' },
];
</script>

<style lang="scss">
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-family: $headline-font;
    font-size: 40px;
    color: $dark-color;
    margin: 0;
  }

  .actions {
    display: flex;
    gap: 10px;

    .search-input {
      padding: 5px 10px;
      border: 1px solid $dark-color;
      border-radius: 4px;
    }

    .filter-select {
      padding: 5px 10px;
      border: 1px solid $dark-color;
      border-radius: 4px;
    }

    .add-button {
      background-color: $main-color;
      color: $white-color;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      font-family: $main-font;

      &:hover {
        background-color: $main-color-light;
      }
    }

    .export-button {
      background-color: $white-color;
      border: 1px solid $dark-color;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      font-family: $main-font;
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;

      &:hover {
        background-color: $main-color-light-third;
      }

      .export-icon::after {
        content: '▼';
        display: block;
        font-size: 12px;
        color: $dark-color;
      }
    }
  }
}
</style>