<template lang="pug">
.menu-item
  .item-cell
    input(type="checkbox")
    span {{ item.name }}
  .item-cell
    img.item-image(:src="item.image" alt="Menu item")
  .item-cell {{ item.category }}
  .item-cell €{{ item.price.toFixed(2) }}
  .item-cell(:class="{ 'in-stock': item.status === MenuItemStatusEnum.IN_STOCK, 'out-of-stock': item.status === MenuItemStatusEnum.OUT_OF_STOCK }")
    | {{ item.status }}
  .item-cell
    ActionDropdown(:item="item" @action="$emit('actionDropdownSelected', $event)")
</template>

<script setup lang="ts">
import ActionDropdown from "~/components/admin/menu/ActionDropdown.vue";
import {MenuItemStatusEnum} from "~/enums/MenuItemStatusEnum";

defineProps<{
  item: {
    id: number;
    name: string;
    image: string;
    category: string;
    price: number;
    status: string;
  };
}>();

const emit = defineEmits(['actionDropdownSelected']);
</script>

<style scoped lang="scss">
.menu-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid $main-color-light-third;

  .item-cell {
    flex: 1;
    padding: 0 8px;
    vertical-align: middle;

    input[type="checkbox"] {
      margin-right: 8px;
    }

    .item-image {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      object-fit: cover;
    }

    &.in-stock {
      color: #4CAF50; // Green for in stock
    }

    &.out-of-stock {
      color: #F44336; // Red for out of stock
    }
  }
}
</style>