<template lang="pug">
.menu-table-container
  AddItemModal(v-show="showAddItemModal" :isOpen="showAddItemModal" :isEditMode="isEditMode" :isViewMode="isViewMode"
    :initForm="initialValue" @update:isOpen="onUpdateIsOpenValue")
  TableHeader(
    :search-query="searchQuery"
    :filter-status="filterStatus"
    @update:searchQuery="searchQuery = $event"
    @update:filterStatus="filterStatus = $event"
    @addFood="onUpdateIsOpenValue"
  )
  .menu-table
    .table-header-row
      .item-cell
        input(type="checkbox")
        span Name
      .item-cell Image
      .item-cell Category
      .item-cell
        span Price
        i.sort-icon(aria-label="Sort price" @click="togglePriceSort")
      .item-cell Status
      .item-cell Action
    .table-body
      TableItem(
        v-for="item in menu"
        :key="item.id"
        :item="item"
        @actionDropdownSelected="onActionDropdownSelected"
      )
  Pagination(
    :current-page="currentPage"
    :total-items="totalItems"
    :items-per-page="itemsPerPage"
    @update:currentPage="handlePageChange"
  )
</template>

<script setup lang="ts">
import TableHeader from "~/components/admin/menu/TableHeader.vue";
import TableItem from "~/components/admin/menu/TableItem.vue";
import Pagination from "~/components/admin/Pagination.vue";
import AddItemModal from "~/modals/AddItemModal.vue";
import useFirebaseFirestore from "~/composables/firebase/useFirebaseFirestore";
import useMenu from "~/composables/firebase/useMenu";
import {MenuItemActionEnum} from "~/enums/MenuItemActionEnum";
import {MenuItemStatusEnum} from "~/enums/MenuItemStatusEnum";
import type {MenuItemInterface} from "~/types/MenuItemInterface";

const searchQuery = ref('');
const filterStatus = ref('');
const priceSortDirection = ref<'asc' | 'desc'>('asc');
const currentPage = ref(1);
const itemsPerPage = ref(10);

onMounted(async () => {
  await fetchTotalItems();
  await fetchPaginatedItems();
 })

const {$firestore} = useFirebaseFirestore();

const {
  menu,
  totalItems,
  getMenu,
  fetchTotalItems,
  uploadImage,
  addMenuItem,
  updateMenuItem,
  deleteMenuItem,
} = useMenu();


const fetchPaginatedItems = async () => {
  const skip = (currentPage.value - 1) * itemsPerPage.value;
  const filterBy = filterStatus.value
      ? { field: 'status', value: filterStatus.value }
      : undefined;

  await getMenu(skip, itemsPerPage.value, filterBy);
};

const handlePageChange = async (newPage: number) => {
  currentPage.value = newPage;
  await fetchPaginatedItems();
};

const menuConst = [
  {
    name: 'with currant',
    description: 'Sugar, currants, agar-agar, apple',
    image: '_nuxt/assets/images/menu/1.jpg',
    price: 25,
    weight: 30,
  },
  {
    name: 'with apple',
    description: 'Sugar, agar-agar, apple',
    image: '_nuxt/assets/images/menu/2.jpg',
    price: 25,
    weight: 30,
  },
  {
    name: 'with blueberry',
    description: 'Sugar, blueberry, agar-agar, apple',
    image: '_nuxt/assets/images/menu/3.jpeg',
    price: 25,
    weight: 30,
  },
  {
    name: 'with mango',
    description: 'Sugar, mango, agar-agar, apple',
    image: '_nuxt/assets/images/menu/4.jpg',
    price: 25,
    weight: 30,
  },
  {
    name: 'with strawberry',
    description: 'Sugar, strawberry, agar-agar, apple',
    image: '_nuxt/assets/images/menu/5.jpg',
    price: 25,
    weight: 30,
  },
  {
    name: 'with vanilla',
    description: 'Sugar, vanilla, agar-agar, apple',
    image: '_nuxt/assets/images/menu/6.jpg',
    price: 25,
    weight: 30,
  },
  {
    name: 'with cranberry',
    description: 'Sugar, cranberry, agar-agar, apple',
    image: '_nuxt/assets/images/menu/7.jpg',
    price: 25,
    weight: 30,
  },
  {
    name: 'with grape',
    description: 'Sugar, grape, agar-agar, apple',
    image: '_nuxt/assets/images/menu/8.jpg',
    price: 25,
    weight: 30,
  },
  {
    name: 'with lemon',
    description: 'Sugar, lemon, agar-agar, apple',
    image: '_nuxt/assets/images/menu/9.jpg',
    price: 25,
    weight: 30,
  },
]

//add item
const showAddItemModal = ref(false);
const onUpdateIsOpenValue = (open: boolean) => {
  initialValue.value = {} as MenuItemInterface;
  showAddItemModal.value = open;
}

//pagination
const totalPages = computed(() => Math.ceil(menu.value?.length / itemsPerPage));

const togglePriceSort = () => {
  priceSortDirection.value = priceSortDirection.value === 'asc' ? 'desc' : 'asc';
};

const isEditMode = ref(false);
const isViewMode = ref(false);
const initialValue = ref<MenuItemInterface | undefined>({} as MenuItemInterface);

const onActionDropdownSelected = async (data: {action: MenuItemActionEnum, itemId: string}) => {
  isEditMode.value = data.action === MenuItemActionEnum.EDIT;
  isViewMode.value = data.action === MenuItemActionEnum.VIEW;
  showAddItemModal.value = data.action === MenuItemActionEnum.EDIT || data.action === MenuItemActionEnum.VIEW;
  initialValue.value = menu.value.find((item) => item.id === data.itemId);
  if (data.action === MenuItemActionEnum.DELETE) {
    await deleteMenuItem(data.itemId);
  } else if (data.action === MenuItemActionEnum.OUT_OF_STOCK) {
    await updateMenuItem(data.itemId, {
      status: MenuItemStatusEnum.OUT_OF_STOCK,
    });
  }
};
</script>

<style scoped lang="scss">
.menu-table-container {
  min-width: calc(100vw - 250px - 20px - 20px);
  padding: 20px;
  background-color: $white-color;
  border: 2px solid $main-color; // Blue border from the image
  border-radius: 8px;
  margin-left: 20px;

  .menu-table {
    width: 100%;
  }

  .table-header-row, .menu-item {
    display: flex;
    align-items: center;
  }

  .table-header-row {
    background-color: $main-color-light-third;
    padding: 12px 0;
    margin-bottom: 8px;

    .item-cell {
      flex: 1;
      padding: 0 8px;
      font-family: $main-font;
      color: $dark-color;
      font-weight: bold;

      span {
        margin-left: 8px;
      }

      .sort-icon {
        font-size: 12px;
        cursor: pointer;
        margin-left: 5px;
        color: $dark-color;

        &:hover {
          color: $main-color-dark;
        }
      }
    }
  }
}
</style>