<template lang="pug">
.pagination
  button.prev-button(
    :disabled="currentPage === 1"
    @click="$emit('update:currentPage', currentPage - 1)"
  ) Previous
  span.page-info Page {{ currentPage }} of {{ totalPages }}
  button.next-button(
    :disabled="currentPage === totalPages"
    @click="$emit('update:currentPage', currentPage + 1)"
  ) Next
</template>

<script setup lang="ts">
const props = defineProps<{
  currentPage: number;
  totalItems: number;
  itemsPerPage: number;
}>();

defineEmits(['update:currentPage']);

const totalPages = computed(() => {
  return Math.ceil(props.totalItems / props.itemsPerPage);
});
</script>

<style scoped lang="scss">
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  .prev-button, .next-button {
    background-color: $main-color;
    color: $white-color;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $main-color-light;
    }

    &:disabled {
      background-color: $main-color-light-third;
      cursor: not-allowed;
    }
  }

  .page-info {
    font-family: $main-font;
    color: $dark-color;
  }
}
</style>