<template lang="pug">
.sidebar-container
  .user-section
    img.user-avatar(v-if="user.photoURL" :src="user.photoURL" alt="Anastasia")
    .user-name {{user.displayName}}
  nav
    ul.menu-list
      li.menu-item(v-for="item in menuItems" :key="item.name")
        | {{ item.name }}
</template>

<script setup lang="ts">

import {useAuth} from "~/composables/firebase/useAuth";

const {user} = useAuth();

const menuItems = [
  { name: 'Menu' },
  { name: 'Gallery' },
  { name: 'Contacts' },
  { name: 'Payment' },
  { name: 'Cart' },
  { name: 'Authorization' },
];
</script>

<style scoped lang="scss">
.sidebar-container {
  width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: $white-color;
  border-right: 2px solid $main-color-light-third;
  padding: 20px;
  box-shadow: 2px 0 5px rgba($dark-color, 0.1);

  // User section
  .user-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid $dark-color;
    padding-bottom: 15px;

    .user-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
      object-fit: cover;
    }

    .user-name {
      font-family: $headline-font;
      font-size: 18px;
      color: $dark-color;
    }
  }

  // Navigation
  nav {
    .menu-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .menu-item {
        padding: 10px 0;
        color: $dark-color;
        cursor: pointer;
        font-family: $main-font;
        transition: color 0.3s ease;

        &:hover {
          color: $main-color-dark;
        }
      }
    }
  }
}
</style>