<template lang="pug">
NuxtLayout(name="default")
  .landing-page-container
    TheHeader
    TheMenu
    TheIngredients
    TheAboutUs
    TheGallery
    TheContacts
  TheFooter
</template>

<script setup lang="ts">
import {useAuth} from "~/composables/firebase/useAuth";

const { initializeAuth, cleanupAuth } = useAuth();
const router = useRouter();


onMounted(() => {
  initializeAuth();
});

onUnmounted(() => {
  cleanupAuth();
});
</script>

<style scoped lang="scss">
.landing-page-container {
  background-image: url("assets/images/banner.png"), url("assets/images/Bg.png");
  background-repeat: no-repeat;
  background-size: contain, cover;
  padding: 0 40px;
  & > * {
    max-width: 1156px;
  }
}
</style>