<template lang="pug">
.auth-container
  .auth-card
    h2 Sign Up
    form(@submit.prevent="handleSignUp")
      .form-group
        label Display Name
        input(type="text" v-model="displayName" required)
      .form-group
        label Email
        input(type="email" v-model="email" required)
      .form-group
        label Password
        input(type="password" v-model="password" required)
      .error(v-if="error") {{ error }}
      .auth-actions
        button.submit-button(type="submit") Sign Up
        nuxt-link(:to="RoutePaths.SIGN_IN") Already have an account? Sign In
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useAuth } from '~/composables/firebase/useAuth';
import { RoutePaths } from '~/enums/RoutePaths'; // Import the enum

const displayName = ref('');
const email = ref('');
const password = ref('');
const { signUp, error } = useAuth();
const router = useRouter();

const handleSignUp = async () => {
  try {
    await signUp(email.value, password.value, displayName.value);
    router.push(RoutePaths.HOME);
  } catch (err) {
    console.error('Sign-up error:', err);
  }
};
</script>

<style lang="scss">
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $main-color-light-third; // Light background from your vars

  .auth-card {
    background-color: $white-color;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba($dark-color, 0.1);
    border: 1px solid $main-color-light;

    h2 {
      font-family: $headline-font;
      font-size: 40px;
      color: $dark-color;
      margin-bottom: 20px;
      text-align: center;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-family: $main-font;
        color: $dark-color;
      }

      input {
        width: 100%;
        padding: 8px;
        border: 1px solid $dark-color;
        border-radius: 4px;
        font-family: $main-font;
      }
    }

    .error {
      color: #F44336;
      font-size: 14px;
      margin-bottom: 15px;
      text-align: center;
    }

    .auth-actions {
      display: flex;
      flex-direction: column;
      gap: 10px;

      button.submit-button {
        background-color: $main-color;
        color: $white-color;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-family: $main-font;
        width: 100%;

        &:hover {
          background-color: $main-color-light;
        }
      }

      nuxt-link {
        text-align: center;
        color: $main-color-dark;
        font-family: $main-font;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
</style>