<template lang="pug">
.modal-overlay(v-if="isOpen" @click.self="closeModal")
  .modal-content(:class="{'view-mode': isViewMode}")
    h3(v-if="isEditMode || !initForm?.id && !isViewMode") {{isEditMode ? 'Edit Menu Item' : 'Add New Menu item'}}
    form(@submit.prevent="submitForm")
      .form-group
        label Name
        input(type="text" v-model="formData.name" required)
      .form-group
        label Description
        input(type="text" v-model="formData.description" required)
      .form-group
        label Image URL
        input(type="file" @change="handleImageUpload" accept="image/*" required)
      .form-group
        label Category
        input(type="text" v-model="formData.category" required)
      .form-group
        label Price (€)
        input(type="number" v-model.number="formData.price" step="0.01" required)
      .form-group
        label Weight (g)
        input(type="number" v-model.number="formData.weight" step="0.01" required)
      .form-group
        label Status
        select(v-model="formData.status" required)
          option(:value="MenuItemStatusEnum.IN_STOCK") In stock
          option(:value="MenuItemStatusEnum.OUT_OF_STOCK") Out of stock
      .modal-actions
        button.cancel-button(type="button" @click="closeModal") Cancel
        button.submit-button(v-if="!isViewMode" type="submit") {{isEditMode ? 'Edit' : 'Add'}} Item
</template>

<script setup lang="ts">
import useMenu from "~/composables/firebase/useMenu";
import {MenuItemStatusEnum} from "~/enums/MenuItemStatusEnum";
import type {MenuItemInterface} from "~/types/MenuItemInterface";

const props = defineProps<{
  isOpen: boolean;
  isEditMode?: boolean;
  isViewMode?: boolean;
  initForm?: MenuItemInterface;
}>();

const emit = defineEmits(['update:isOpen', 'itemAdded']);


const formData = ref<MenuItemInterface>({
  id: '',
  name: '',
  description: '',
  image: '',
  price: 0,
  weight: 0,
  category: 'Zephyr',
  status: MenuItemStatusEnum.IN_STOCK,
});

const imageFile = ref<File | null>(null);

const handleImageUpload = (event: Event) => {
  const target = event.target as HTMLInputElement;
  if (target.files && target.files.length > 0) {
    imageFile.value = target.files[0];
  }
};

watch(() => props.initForm, () => {
  if (props.initForm?.id) {
    formData.value = props.initForm;
  }
}, {deep: true, immediate: true});

const closeModal = () => {
  emit('update:isOpen', false);
  formData.value = { id: '', name: '', description: '', image: '', category: 'Zephyr', price: 0, weight: 0, status: MenuItemStatusEnum.IN_STOCK }; // Reset form
  imageFile.value = null;
};

const {
  addMenuItem,
  updateMenuItem,
} = useMenu();

const submitForm = async () => {
  const {id, ...payload} = formData.value
  const newItem: Omit<MenuItemInterface, 'id' | 'createdAt'> & { imageFile?: File } = {
    ...payload,
    imageFile: imageFile.value || undefined,
  };
  try {
    if (props.isEditMode && props.initForm?.id) {
      await updateMenuItem(props.initForm.id, newItem);
    } else {
      await addMenuItem(newItem);
      emit('itemAdded', newItem);
    }
    closeModal();
  } catch (error) {
    console.error('Error adding menu item:', error);
  }
};
</script>

<style scoped lang="scss">
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark-color, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background-color: $white-color;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba($dark-color, 0.1);
    &.view-mode {
      input, select {
        pointer-events: none;
      }
    border: 1px solid $main-color-light-third;
    }

    h3 {
      font-family: $headline-font;
      color: $dark-color;
      margin-bottom: 20px;
      font-size: 40px;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-family: $main-font;
        color: $dark-color;
      }

      input, select {
        width: 100%;
        padding: 8px;
        border: 1px solid $dark-color;
        border-radius: 4px;
        font-family: $main-font;
      }
      input {
        width: calc(100% - 20px);
      }

      input[type="number"] {
        appearance: textfield;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

    .modal-actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-top: 20px;

      .cancel-button {
        background-color: $white-color;
        border: 1px solid $dark-color;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        font-family: $main-font;
        color: $dark-color;

        &:hover {
          background-color: $main-color-light-third;
        }
      }

      .submit-button {
        background-color: $main-color;
        color: $white-color;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        font-family: $main-font;

        &:hover {
          background-color: $main-color-light;
        }
      }
    }
  }
}
</style>